 <% if eatery.favorited_by?(current_user) %>
    <p>
      <%= link_to eatery_favorites_path(eatery.id), method: :delete, remote: true do %>
        <i class="fas fa-thumbs-up">わかる！(<%= eatery.favorites.count %>件)</i>
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to eatery_favorites_path(eatery.id), method: :post, remote: true do %>
        <i class="far fa-thumbs-up">わかる！(<%= eatery.favorites.count %>件)</i>
      <% end %>
    </p>
  <% end %>