<div class="container">
  <div class="row" style="margin: 400px 0;">

 <div class="ojisan col-md-12 text-center">

<h3>お問い合わせありがとうございました。</h3>
<p>ご意見ご参考にさせていただきます。</p>
<p>お問い合わせの内容によりましては、担当者よりご連絡差し上げる場合もございます。</p>
</div>
</div>
</div>