<h1 style="text-align:center" class="title">About</h1>
  <div style="text-align:center" class="about-text">
    お昼や夕方にふとお腹が空いた時、<br>
    何かを食べたいんだけど何が食べたいのかわからない時はありませんか？<br>
    「EMO-EATS」はそんなあなたの気持ちにあったお店を探せるサイトです。<br>
    様々なこんなものを食べたい！ 気持ち(EMO)がたくさんあり、<br>
    きっとあなたの食べたいものや行きたい店舗が見つかるはずです。<br>
    あなたも会員登録をして、他の人と食べたい気持ち「EMO」を共有しませんか？
  </div>

  <div style="text-align: center">
    <%= image_tag "food2.jpg" %>
  </div>